@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li, ul{
   list-style: none;
}
a, button{
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}
:hover, :focus{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

:hover, :focus {	
	outline: none;
	text-decoration: none;
}

input, select, textarea, button{
	font-family: inherit;
}
body{
	overflow-x: hidden;
	position: relative;
	font-family: 'DM Sans', sans-serif;
}
.Login__Form {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #42D62C;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.login-main-inner {
	max-width: 472px;
	background: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	padding: 30px;
}

.login-main-outer p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	margin: 10px 0 40px;
}
.login-main-outer h2 {
	font-weight: 700;
	font-size: 34px;
	line-height: 40px;
	color: #FFFFFF;
	margin: 0;
	text-align: center;
}
.login-main-outer {
	width: 100%;
	padding: 0 15px;
}
.login-main-inner .form-feild {
	margin-bottom: 23px;
	position: relative;
}
.login-main-inner .form-feild input {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px !important;
	color: #35414B;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	width: 100% !important;
	padding: 14px 0;
	display: block;
	text-align: left;
	height: auto !important;
	border-radius: 0 !important;
	margin-top: 0 !important;
	border: 1px solid #35414B;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
.login-main-inner span.toggle-password {
	position: absolute;
	right: 0;
	bottom: 12px;
	cursor: pointer;
}
.login-main-inner button {
	background: #42D62C;
	width: 100%;
	border: none;
	padding: 15px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff !important;
}
.sidebar  nav {
    margin-top: 20px!important;
}
/*--------------dashobaord----------------*/
.content-main-block {
    background: #f8f8f8;
    padding: 0 70px;
}
.main-page-handle .page-handle-name {
    padding-top: 22px;
}
.main-page-handle .page-handle-name span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #707EAE;
}
.main-page-name h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #43D62D;
    padding-top: 2px;
}
.income-block {
    margin-top: 30px;
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-gap: 30px;
}
.total-earning-block {
    background: #43D62D;
    box-shadow: 0px 7.01714px 17.5429px rgba(31, 107, 255, 0.1);
    border-radius: 5.26286px;
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.total-earning-block .eraning-left h3 {
    font-weight: 500;
    font-size: 28.0686px;
    line-height: 37px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.total-earning-block .eraning-left h1 {
    font-weight: 700;
    font-size: 66.14px;
    line-height: 86px;
    color: #FFFFFF;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.total-earning-block .eraning-left  .monthly-detail {
    display: flex;
    align-items: center;
}
.total-earning-block .eraning-left .monthly-detail h5 {
    font-weight: 500;
    font-size: 21.0514px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 10px;
}
.income-block .earning-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px 32px;
}
.earning-list .earning-list-items {
    border: 2px solid #43D62D;
    box-shadow: 0px 4px 10px rgba(245, 106, 106, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.earning-list .earning-list-items h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #43D62D;
    padding-bottom: 15px;
}
.earning-list .earning-list-items p {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #222222;
}
.activities-details {
    margin-top: 40px;
}
.activities-details h3.activity-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #4A4A4A;
}
.activities-details table, .history-schedule table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.activities-details table tr:nth-of-type(odd), .history-schedule table tr:nth-of-type(odd) {
    background: #ECECEC;
}
.activities-details table tr th, .history-schedule table tr th {
    padding: 8px 30px;
    background: #43D62D;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: left;
}
.activities-details table tr td, .history-schedule table tr td {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
    padding: 12px 30px;
    text-align: left;   
}

.supplier-lists {
    margin-top: 30px;
}
.supplier-lists {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 14px;
    padding-bottom: 50px;
}
.supplier-lists a .supplier-list-item {
    background: #FFFFFF;
    box-shadow: 0px 3.59066px 8.97665px rgba(31, 107, 255, 0.1);
    padding: 20px;
    text-align: center;
}
.supplier-lists a .supplier-list-item h3.supplier-name {
    font-weight: 500;
    font-size: 16.158px;
    line-height: 25px;
    text-align: center;
    color: #494949;
    padding-top: 15px;
}
.information-block {
    margin-top: 30px;
    padding-bottom: 50px;
}
.information-block .user-profile {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 40px;
}
.user-profile .user-image {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(83, 74, 223, 0.1);
    border-radius: 10px;
    padding: 30px 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-profile .supplier-profile-content {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(83, 74, 223, 0.1);
    border-radius: 10px;
    padding: 30px;
}
.user-profile .supplier-profile-content > h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #4A4A4A;
}
.user-profile .supplier-profile-content ul.supplier-details {
    padding-top: 37px;
}
ul.supplier-details li {
    display: flex;
    align-items: center;
    padding-top: 31px;
}
ul.supplier-details li:first-child {
    padding-top: 0px;
}
ul.supplier-details li h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4A4A4A;
    width: 30%;
}
ul.supplier-details li h4.light {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #494949;
    width: 70%;
}
.account-dlt-btn {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.account-dlt-btn button.btn {
    background: #FF1616;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 18px 47px;
    color: #fff;
    border-color: transparent;
    box-shadow: none;
    outline: none;
}
.account-dlt-btn button.btn:hover {
    background: transparent;
    border-color: #FF1616;
    color: #FF1616;
}
.history-block-main {
    padding-top: 30px;
}
.history-block-main .date-block {
    padding-bottom: 20px;
}
.history-block-main .date-block form.flex-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.history-block-main .date-block form.flex-box .col-list-main {
    display: flex;
}
.history-block-main .date-block form.flex-box .col-list {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.history-block-main .date-block form.flex-box .col-list label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    padding-bottom: 3px;
}
.history-block-main .date-block form.flex-box .col-list input {
    border: 1px solid #555555;
    border-radius: 3px;
    background: transparent;
    padding: 5px 20px;
    width: 180px;
    cursor: pointer;
    position: relative;
}
.history-block-main .date-block form.flex-box .col-list input:before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: 50px;
    bottom: 0;
    background: #555;
}
.history-block-main .date-block form.flex-box .search-btn button.search-btn {
    background: #43D62D;
    border-radius: 3px;
    border-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 5px 38px;
}
td.completed {
    color: #43D62D!important;
}
td.cancel {
    color: #DE2E2E!important;
}
td.view-delete {
    display: flex;
    align-items: center;
}
td.view-delete .popup_main {
    padding-left: 20px;
}
.main-account-details {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 40px;
    padding-top:30px;
    padding-bottom:50px;
}
.main-account-details .user_image {
    text-align: center;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(83, 74, 223, 0.1);
    border-radius: 10px;
}
.image-upload-wrap {
    margin-bottom: 20px;
    position: relative;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    left: 0;
}
.drag-text {
    text-align: center;
}
.file-upload-content {
    display: none;
    text-align: center;
}
.file-upload-image {
    margin-bottom: 30px;
    width: 237px;
    height: 237px;
    object-fit: contain;
}
.file-upload-btn {
    width: 180px;
    font-weight: 700!important;
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s ease;
    outline: none;
	 font-size: 14px;
	 line-height: 24px;
	 text-align: center;
	 letter-spacing: -0.02em;
	 color: #43D62D;
    text-transform: capitalize;
    background: #FFFFFF;
	border: 1px solid #43D62D;
	border-radius: 3px;
}
.user_details {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(83, 74, 223, 0.1);
    border-radius: 10px;
    padding: 33px;
}
.user_details h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #4A4A4A;
}
form.account-form-detail {
    padding-top: 30px;
}
form.account-form-detail .col {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
form.account-form-detail .col:last-child {
    padding-bottom: 0px;
}
form.account-form-detail .col label {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4A4A4A;
    width: 25%;
}
form.account-form-detail .col input {
    background: #FFFFFF;
    border: 0.2px solid #9B9B9B;
    border-radius: 5px;
    width: 75%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4A4A4A;
    padding: 10px;
}
.account-save-btn button.btn {
    background: #43D62D;
    width: 200px;
}
 .account-save-btn button.btn:hover {
    border-color: #43d62d;
    background: transparent;
    color: #43d62d;
}
.user-profile .user-image .user-_details {
    margin-top: 27px;
}
.user-profile .user-image .user-_details h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #4A4A4A;
}
.user-profile .user-image .user-_details h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #4A4A4A;
}
.booking-details-main-block {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(83, 74, 223, 0.1);
    border-radius: 10px;
    padding: 33px;
}
.booking-details-main-block h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #4A4A4A;
}
.booking-details--list {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.booking-details--list .booking-details-item h3 {
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    margin-bottom: 5px;
}
.booking-details--list .booking-details-item h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
    padding-left: 5px;
}
.booking-main-history {
    padding-top: 30px;
}
.booking-main-history ul li {
    display: flex;
    justify-content: space-between;
}
.booking-main-history ul li .left-list {
    width: 50%;
    background: #ECECEC;
}
.booking-main-history ul li .right-list {
    width:50%; 
}
.booking-main-history ul {
    border-top: 1px solid #C2C2C2;
    border-left: 1px solid #c2c2c2;
}
.booking-main-history ul li h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
	padding: 11px 30px;
	border-right: 1px solid #C2C2C2;
	border-bottom: 1px solid #c2c2c2;
}
.booking-main-history ul li h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4A4A4A;
    padding: 11px 30px;
	border-right: 1px solid #C2C2C2;
	border-bottom: 1px solid #c2c2c2;
    
}
.booking-main-history ul li.offer-select h3 {
    border: 0;
}
.booking-main-history ul li.offer-select h4 {
    display: flex;
    justify-content: space-between;
}
.booking-main-history ul li.offer-select .left-list {
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}
.popup_body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}
.popup_back {
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.popup_contain {
    position: relative;
    background: #fff;
    min-width: 300px;
    max-width: 80%;
    margin: 100px auto 50px;
    min-height: 150px;
    padding: 10px 20px;
    top: 30%;
}
.popup_close {
    background: #43D62D;
    padding: 3px 10px 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.popup_body_show {
    display: block;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}
.popup_main button.open_popup {
    background: transparent;
    border: 0;
}
.main-sidebar .brand-link {
	padding: 20px;
	border-color: #F4F7FE!important;
}
.sidebar-mini .main-sidebar {
	background: #fff!important;
	box-shadow: none !important;
}
.supplier-lists a .supplier-list-item img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.sidebar .nav.nav-pills li .nav-link::before {
	content: '';
	position: absolute;
	background: #43D62D;
	border-radius: 25px;
	width: 4px;
	height: 100%;
	right: 0;
	opacity:0;
	top:0;
}
.sidebar .nav.nav-pills li .nav-link p {
	padding-left: 14px;
}
.sidebar .nav.nav-pills li.nav-item a.active.nav-link::before {
    opacity:1;
}
.sidebar .nav.nav-pills li .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #707EAE !important;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-sidebar .sidebar {
	padding: 0;
	width: 100%;
}
.sidebar .nav.nav-pills li.nav-item a.active.nav-link {
    color: #43D62D !important;
    background: transparent;
    box-shadow: none;
}
.sidebar .nav.nav-pills li.nav-item a.active.nav-link svg path {
	fill: #43D62D;
}

td.view-delete form {
    padding-left: 20px;
}

   button.show_confirm {
    border: hidden;
}
/*----------------responsive-------------*/
@media(max-width:1440px){
.main-page-name h2 {
    font-size: 30px;
    line-height: 36px;
}
.total-earning-block {
    padding: 60px 40px;
}
.total-earning-block .eraning-left h3 {
    font-size: 20px;
    line-height: 25px;
}
.total-earning-block .eraning-left h1 {
    font-size: 36px;
    line-height: 42px;
}
.total-earning-block .eraning-left .monthly-detail h5 {
    font-size: 16px;
    line-height: 22px;
}
.eraning-right svg {
    width: 90px;
    height: 90px;
}
.earning-list .earning-list-items {
    padding: 10px;
}
.earning-list .earning-list-items h2 {
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 0px;
}
.income-block .earning-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 25px;
}
.supplier-lists {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.account-dlt-btn button.btn {
    padding: 15px 36px;
}
.booking-details--list {
    grid-template-columns: 1fr 1fr .8fr;
    grid-gap: 10px;
}
}

@media(max-width:1200px){
.activity-schedule, .history-schedule {
    overflow: auto;
    white-space: nowrap;
}
.total-earning-block .eraning-left h1 {
    font-size: 30px;
    line-height: 38px;
}
.total-earning-block {
    padding: 50px 30px;
}
.content-main-block {
    padding: 0 50px;
}
.eraning-right svg {
    width: 75px;
    height: 75px;
}
.total-earning-block .eraning-left .monthly-detail svg {
    width: 18px;
    height: 18px;
}
.income-block .earning-list {
    grid-gap: 15px 20px;
}
.supplier-lists {
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media(max-width:989px){
	.content-main-block {
    padding: 0 40px;
}
.main-page-name h2 {
    font-size: 24px;
    line-height: 30px;
}
.income-block {
    margin-top: 20px;
    grid-gap: 20px;
}
.total-earning-block {
    padding: 40px 30px;
}
.total-earning-block {
    padding: 40px 20px;
}
.total-earning-block .eraning-left h1 {
    font-size: 30px;
    line-height: 36px;
}
.total-earning-block .eraning-left .monthly-detail h5 {
    font-size: 14px;
    line-height: 20px;
}
.eraning-right svg {
    width: 70px;
    height: 70px;
}
.earning-list .earning-list-items h2 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 12px;
}
.earning-list .earning-list-items p {
    font-size: 15px;
    line-height: 20px;
}
.income-block .earning-list {
    grid-gap: 15px 20px;
}
.activities-details {
    margin-top: 30px;
}
}
@media(max-width:749px){
.income-block {
    grid-template-columns: 1fr;
}	
.content-main-block {
    padding: 0 20px;
}
.earning-list .earning-list-items {
    padding: 25px;
}
.supplier-lists {
    grid-template-columns: 1fr 1fr;
}
.information-block .user-profile {
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
ul.supplier-details li {
    padding-top: 20px;
}
.user-profile .supplier-profile-content ul.supplier-details {
    padding-top: 25px;
}
.account-dlt-btn {
    padding-top: 30px;
}
.account-dlt-btn button.btn {
    padding: 12px 26px;
}
.history-block-main .date-block form.flex-box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.history-block-main .date-block form.flex-box .search-btn {
    margin-top: 10px;
}
.history-block-main .date-block form.flex-box .col-list {
    width: auto;
    padding-right: 10px;
}
.history-block-main .date-block form.flex-box .col-list:last-child {
    padding-right:0px;
}
.main-account-details {
    grid-template-columns: 1fr;
grid-gap: 30px;
}
.booking-details-main-block {
    padding: 20px;
}
}
@media(max-width:600px){
.booking-details--list {
    grid-template-columns: 1fr;
}
.booking-main-history {
    padding-top: 20px;
}
.booking-main-history ul li h3, .booking-main-history ul li h4 {
    padding: 10px 20px;
}
.information-block, .supplier-lists, .main-account-details {
    padding-bottom: 30px;
}
}
@media(max-width:480px){
.total-earning-block .eraning-left h1 {
    font-size: 24px;
    line-height: 30px;
}
.total-earning-block {
    padding: 30px;
}
.eraning-right svg {
    width: 60px;
    height: 60px;
}
.total-earning-block .eraning-left h3 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
}
.total-earning-block {
    padding: 20px;
}
.income-block .earning-list {
    grid-template-columns: 1fr;
}
.main-page-name h2 {
    font-size: 22px;
    line-height: 28px;
}
.main-page-handle .page-handle-name span {
    font-size: 13px;
    line-height: 22px;
}
.supplier-lists {
    grid-template-columns: 1fr;
}
.supplier-lists a .supplier-list-item h3.supplier-name {
	 font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
}
ul.supplier-details li h4.light, ul.supplier-details li h3 {
    width: 50%;
}
ul.supplier-details li {
    padding-top: 15px;
}
ul.supplier-details li h4.light {
    word-break: break-all;
}
.account-dlt-btn button.btn {
    padding: 10px 20px;
}
.history-block-main .date-block form.flex-box .col-list-main {
    flex-direction: column;
}
.history-block-main .date-block form.flex-box .col-list {
    padding-right: 0;
    padding-top: 10px;
}
.history-block-main .date-block form.flex-box .col-list:first-child {
    padding-top: 0px;
}
.history-block-main .date-block form.flex-box .col-list label {
    font-size: 14px;
    line-height: 20px;
}
form.account-form-detail .col {
    flex-direction: column;
}
form.account-form-detail .col label, form.account-form-detail .col input  {
    width: 100%;
}
.user_details, .user-profile .supplier-profile-content {
    padding: 20px;
}
.booking-main-history ul li h4, .booking-main-history ul li h3 {
    font-size: 12px;
    padding: 10px;
}
}
